process {
    // Local .sif files (absolute paths on this machine)
    withLabel: 'r'                  { container = "/storeData/USER/data/07.STOmics_FAS/chenjinghao/Nuohe_longseq/bambu-pipe/software/bambu-r.sif" }
    withLabel: 'spaceranger'        { container = "/storeData/USER/data/07.STOmics_FAS/chenjinghao/Nuohe_longseq/bambu-pipe/software/chopper_cutadapt_flexiplex_pigz.sif" }
    withLabel: 'minimap2_samtools'  { container = "/storeData/USER/data/07.STOmics_FAS/chenjinghao/Nuohe_longseq/bambu-pipe/software/minimap2.sif" }
    withLabel: 'preprocess'         { container = "/storeData/USER/data/07.STOmics_FAS/chenjinghao/Nuohe_longseq/bambu-pipe/software/chopper_cutadapt_flexiplex_pigz.sif" }
}